.chart-tooltip-bg {
    background-color: var(--chart-tooltip-background);
}

.chart-tooltip-border-color {
    border-color: var(--chart-tooltip-border-color);
}

.chart-tooltip-text {
    color: var(--chart-tooltip-text-color);
}